cozrobic
public/coverage/*
log/*.log
log/*.pid
tmp/*
tmp/**/*
config/database.yml
db/*.db
db/*.sqlite3
doc/api
doc/app
public/javascripts/all.js
public/stylesheets/all.js
coverage/*
.dotest/*
*.swo
*.swp
.DS_Store
nbproject
.idea
layouts*
coverage.data
public/coverage
cache-*.js